#mazeArea{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 550px;
}

#mazeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    height: 560px;
    width: 510px;
    background-color: rgb(61, 61, 61);
}

.mazeTile{
    width: 50px;
    height: 50px;
    background-color: azure;
}

.mazeTileWall{
 background-color: brown;
 box-shadow: -1px -1px 3px black;
}

#player {
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: green;
    position: relative;
    top: -50px;
    left: 0px;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.2s;
}

#enemy{
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    top: -50px;
    left: 400px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.5s;
    z-index: 1;
}

#enemy2{
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    top: -300px;
    left: 300px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.5s;
}

#gameOver{
    margin: auto;
    bottom: 400px;
    position: relative;
    background-color: aliceblue;
    text-align: center;
    padding: 50px;
    border: 2px solid black;
    display: none;
    width: 200px;
}

#blueKeyImage {
    width:40px;
    margin-left: 10px;
    position: relative;
    top: -550px;
    left: -150px;
}

#openDoorImage, #closedDoorImage{
    width: 40px;
    position: relative;
    bottom: 100px;
    left: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

#openDoor {
    display: none;
    position: relative;
    left: 50px;
}

#blueKeyImage2{
    width: 40px;
    margin-left: 10px;
}

#blueKeyImage2{
    position: relative;
    top: -50px;
    left: 200px;
}

#door2Image{
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

#door2Image{
    position: relative;
    top: -450px;
}
